.quadros{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.feed-title {
	font-size: 22px;
}
.img-feed{
	width: 60%;
	height: 60%;
}
.box-feed {
	width: 23%;
	text-align: center;
	border-radius: 7px;
	background: url('../images/fundo-feed.jpg');
	position: relative;
	float: left;
	margin: 0 0 20px 22px;
	padding: 15px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
a.box p {
	color: #000;
}
.box-feed:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.box-red {
	border: solid 4px #C21600;
}
.box-green {
	border: solid 4px #00763B;
}
.box-blue {
	border: solid 4px #212CC2;
}
.box-yellow {
	border: solid 4px #E5AF0B;
}
.box-orange {
	border: solid 4px #F07112;
}