/*MENU PRÉ LOGIN*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0; padding:0; border:0; background:transparent;
  /*vertical-align: baseline;*/
}

/* floats */
.float-l { float: left;font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;  }
.float-r { float: right;font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;  }

		
header {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 	
  min-height: 13%;
  height: auto;
  position: relative;
  top: 0;
  width:100%;
  right: 0;
  left: 0;
  border-bottom: 0px #006400 solid; 
  background: #007b36; /*cor verde para FUNDO*/
  z-index: 2;
  font-weight: bold;
  color:  #c7ffc1;
}

#titulo { /*POSICIONAMENTO DO TITULO-LOGO*/
  padding: 18px 0 0 8px;
  font-weight: bold;
  color:  #c7ffc1;
  font-size:1.5em;
}
#titulo a {
  color:  #c7ffc1; /*TITULO*/
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
	-webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
	-webkit-mask-image: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
	-webkit-mask-image: -oz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
	text-shadow: 4px 6px 6px #000000;
	text-decoration:none;
}

.list-auto { /*margens do menu*/
  padding: 36px 10px 0 0;
}

header li {
  border-left: 0px solid #ccc; /*LINHAS VERTICAIS QUE DIVIDEM O MENU*/
}

header li:first-child {
  border: none;
}

header li a { /*TEXTO DO MENU*/
  display: block;
  position: relative;
  padding: 0 8px;
  color:  #c7ffc1;  /*cor do Menu*/
  font-size: 1em;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 3ms ease;
  transition: all 3ms ease;
  padding-bottom:10px;
}

header li a:hover {  /*cor do Menu quando o mouse passa*/
	cursor: default;
	color: #007b36;
	background-color: white; /*FUNDO DO MENU VERTICAL*/
	padding-bottom:10px;
 }
  
/*QUANDO A TELA FOR MENOR QUE 970PX, O MENU VIREA DE 3 LINHAS*/
@media screen and (max-width: 980px) {  /*ANTES TAVA 767px*/
  header {
	  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 	
	  height: auto;
      min-height: 150px;
	  position: relative;
	  top: 0;
	  right: 0;
	  left: 0;
	  border-bottom: 0px #006400 solid; 
	  background: #007b36; /*cor verde para FUNDO*/
	  z-index: 2;
	  font-weight: bold;
	  color:  #c7ffc1;
	}
  
  header ul.list-auto {
    padding: 0;
  }

  header ul.list-auto li { /*bordas do menu(caixa) quando ele tá pequeno*/
    width: 100%;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  header li a { /*margens internas do Menu Pequeno*/
    padding-bottom:8%;
	padding-top:30%;
    font-size: 2.8em;
    white-space: nowrap;
  }

  header li a:hover {  /*MENU PEQUENO, QUANDO O MOUSE TÁ EM CIMA*/
		cursor: default;
		color: #007b36;
		background-color: white; /*FUNDO DO MENU VERTICAL*/
		padding-bottom:8%;
		padding-top:30%;
		font-size: 2.8em;
        white-space: nowrap;
  }	
  #titulo { /*POSICIONAMENTO DO TITULO-LOGO*/
	  padding: 0.6em 0 0 0.2em;
	  font-weight: bold;
	  color:  #c7ffc1;
	  font-size:3.7em;
  }
}