/*CSS GERAL DO SITE*/

@charset "UTF-8";
.caixaInput,.dataNascimento,.cep,.cpf,.CNPJ,.telefone,.celular{
	border-radius: 0px;
	border: 2px #8FBC8F solid; /*borda da caixa do texto verde. */ 
	color: #616165;
	display: inline;
	font-family: "Trebuchet MS";
	font-size:0.9em;
	margin-right: 10px;
	padding: 10px 3px 3px 10px;
	width: 95%;
	background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	border: 2px solid #CCCCCE;
	border-radius: 3px;	
}
.caixaCEP {
	border-radius: 0px;
	border: 2px #8FBC8F solid; /*borda da caixa do texto verde. */ 
	color: #616165;
	display: inline;
	font-family: "Trebuchet MS";
	font-size:0.9em;
	margin-right: 10px;
	padding: 10px 3px 3px 10px;
	width: 12%;
	background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	border: 2px solid #CCCCCE;
	border-radius: 3px;	
}
#tamSelecione{
    width: 30%;
}
.caixaInputEscPessoa{
	border-radius: 0px;
	border: 2px #8FBC8F solid; /*borda da caixa do texto verde. */ 
	color: #616165;
	display: inline;
	font-family: "Trebuchet MS";
	font-size:0.9em;
	margin-right: 10px;
	padding: 10px 3px 3px 10px;
	width: 15%;
	background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	border: 2px solid #CCCCCE;
	border-radius: 3px;	
}

/*tela de cadastro:*/
.caixaInput:focus,.dataNascimento:focus,.cep:focus,.cpf:focus,.CNPJ:focus,.telefone:focus,.celular:focus{
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
.caixaInputEscPessoa:focus,.caixaCEP:focus{
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#UserEMAIL,#UserEMAIL2,#UserTelefone,#UserCelular,#UserNascimentoFis,#UserTelefoneFis,#UserCelularFis,#UserUsuario,#UserFoto{
    width: 75%;
}
.corpo_cont{   /*edicao da caixa das telas pré login*/ 
	padding: 1.5em;
	margin-top:13px;
	margin-left:10px;
	margin-right:2.5%;
    margin-bottom: 13px;
    width:94.3%; 
    height:auto; /*para que a barra role*/
    min-height:80%; /*para que a barra role*/
	box-shadow: 0px 0px 2px #A2A0D8;
	border: 2px #8FBC8F solid; /*borda da caixa do texto*/
    background: #E0D9D9;/*Fundo Cinza*/
}
.corpo_cont h2{
	color: #007B36;
	font-size: 1.5em;
}
.corpo_cont div p{
    width: 100%;
}

#formulario{        
	line-height:1.8em;
	border: 1px #8FBC8F solid;
    padding-bottom: 20px;
}
#Seleciona_Tipo{  
	width:96.5%;
	padding: 20px;
	margin-top:15px;
	box-shadow: 0px 0px 2px #A2A0D8;
	border: 2px #8FBC8F solid; /*borda da caixa do texto*/
	background: #E0D9D9;/*Fundo Cinza*/
	/*background-image: url("../images/background_principal.png");*/
}
#Seleciona_Pergunta{  
	width:93%;
	padding: 20px;
    display: inline;
	margin-top:13px;
	margin-left:1%;
	box-shadow: 0px 0px 2px #A2A0D8;
	border: 2px #8FBC8F solid; /*borda da caixa do texto*/
	background: #E0D9D9;/*Fundo Cinza*/
    display: inline-block;
}
#cadEsq{
    float: left;
    position: relative;
    display: inline-block;
    width: 45%;
    padding-left: 2%;
}
#cadDir{
    float:right;
    position: relative;
    display: block;
    width: 20%;
    padding-right: 30%;
}
.caixaInputEscPessoa{
    width: 30%;
    margin-top: 0.3em;
}
.tamSelecione{
    width: 40%;
}
@media screen and (max-width: 980px) {
  .corpo_cont{   /*edicao da parte de contatos-caixa*/ /*modificado*/
		padding: 5%;
		margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
		width:100%; 
		height:auto; 
		min-height:72.1%;
		box-shadow: 0px 0px 2px #A2A0D8;
        overflow-x: hidden;
		border: 2px #8FBC8F solid; /*borda da caixa do texto*/
    }
	#Seleciona_Tipo{
		padding: 10px;
		margin-top:15px;
        font-size: 2em;
		box-shadow: 0px 0px 2px #A2A0D8;
		border: 2px #8FBC8F solid; /*borda da caixa do texto*/
		background: #E0D9D9;/*Fundo Cinza*/
		/*background-image: url("../images/background_principal.png");*/
	}
    #cadEsq{
        float: left;
        position: relative;
        display: inline-block;
        width: 80%;
        padding-left: 10%;
    }
    #cadDir{
        float:left;
        position: relative;
        display: inline-block;
        width: 80%;
        padding-left: 10%;
    }
    .tamText{
        font-size: 1.4em;
    }
	#nome_cadastro{font-size:1.4em;}
    #UserTelefone,#UserUsuario,#UserCPF,#UserCNPJ,#UserNumero,#jEndereco_Numero{
        width: 40%;
    }
    #UserFoto{
        width: 80%;
    }
    #UserCEPFis1,#UserCEP1{
        width: 30%;
        font-size: 1.2em;
    }
    #UserCEPFis2,#UserCEP2{
        width: 20%;
        font-size: 1.2em;
    }
    .caixaInputEscPessoa{
        width: 60%;
    }
    #caixaInputEscPessoa{
        width: 55%;
    }
    .caixaInput,.dataNascimento,.cep,.cpf,.CNPJ,.telefone,.celular{
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }
    #combobox{
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
    .caixaInput,.dataNascimento,.cep,.cpf,.CNPJ,.telefone,.celular,.caixaInputEscPessoa{
        font-size: 1.2em;
    }
    #UserUF,#tamSelecione{
        width: 43.5%;
    }
   .botao01{ /* Configuração do botão somente para a tela de cadastro - para adaptar-se melhor.*/
        margin-left: 40px;
        margin-bottom: 10px;
        height: 2em;
    }
}
	
	