/*CSS GERAL DO SITE*/

@charset "UTF-8";

html,body{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
    height: 100%; 
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /*fonte*/
	vertical-align:baseline;
}
div,span,h1,h2,h3,h4,
h5,h6,p,a,img,ol,nav ul,nav li,form,
label,legend,table,caption,tr,aside,
figure,figcaption,footer,menu,nav,outline,section{ 
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /*fonte*/
	vertical-align:baseline;
}
figcaption, figure,footer, header, menu, nav, section {
	display: inline-block;
}
ol,ul{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.txt-center{
	text-align:center;/* text align center */
}
.clear{
	clear:both;/* clear float */
}
nav.vertical ul li{	
	display:block;/* vertical menu */
}
nav.horizontal ul li{	
	display: inline-block;/* horizontal menu */
}
img{max-width:100%;}

body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-size: 100%;
	background: #F8F8FF; 
}

.largura{  /*Comprimento/espessura do site*/
	margin:0 px;
	width:100%;	
	height:90%;
}

.caixa_cadastro{  /*Comprimento/espessura do cadastro*/
	width:100%;	
}

/*---CORPO DO TEXTO----*/
.corpo{
	margin-top: -60px;
	padding: 4%;
	float: left;
}
.corpo_ofrt h2{
	color: #8FBC8F;
	font-size: 1.5em;
	text-shadow: -1px 0 black, 0 1.4px black,
							  1.9px 0 black, 0 -1px black; 
}
.corpo_right{
	float: right;
}
.corpo h2{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-size: 2em;
	color: #FFFFFF;
	letter-spacing: -0px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #2B2142;
}
.corpo h3{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-size:6em;
	color: #FFFFFF;
	letter-spacing: -4px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #2B2142;
}

.corpo_txt{       /*CORPO DO TEXTO DA ESQUERDA*/       
	padding: 20px;
	margin-top:0px;
	margin-left:0px;
	background:#E0D9D9;
	border: 2px #8FBC8F solid; /* borda da caixa do texto*/
	width:100%;
	height:581px; 
}	
 /*###  ###*/
/*CADASTRO*/
.corpo_menuLog{       /*CAIXA DE TEXTO DA TELA DE CADASTRO*/       
	padding: 1%;
	margin-top:0px;
	margin-left:20px;
	margin-right:20px;
	background: #E0D9D9;/*Fundo Cinza*/
	border: 2px #8FBC8F solid; 
	width:100.5%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
}
#formulario{        
	line-height:1.8em;
	border: 1px #8FBC8F solid; 
}
#Seleciona_Pergunta{  
	width:93%;
	padding: 20px;
    display: inline;
	margin-top:13px;
	margin-left:1%;
	box-shadow: 0px 0px 2px #A2A0D8;
	border: 2px #8FBC8F solid; /*borda da caixa do texto*/
	background: #E0D9D9;/*Fundo Cinza*/
    display: inline-block;
}

 /*######*/
 /*INDEX-HOME*/
 .corpo_index{   /*edicao da parte de contatos-caixa*/ 
    width:100%; 
	padding-bottom: 5%;
    height:auto; /*para que a barra role*/
    min-height:75%; /*para que a barra role*/
}
.corpo_noticia1{       /*QUADRO DE NOTICIAS GRANDE*/  
	padding: 0.5% 1% 0% 1%;
    margin: 0.8% 0% 0% 1.5%;
    width: 94.5%;
	background: #E0D9D9;/*Fundo Cinza*/
	border: 2px #8FBC8F solid; /* borda da caixa do texto*/ 
    height:57%; 
    min-height:20%;
}	
.corpo_noticia2{       //*QUADRO DE NOTICIAS PEQUENO*/ 
	padding: 0em;
	margin: 2% 0% -2.4% 1.5%;
	background: #E0D9D9;/*Fundo Cinza*/
	border: 2px #8FBC8F solid; 
    width:96.5%; 
    height:35%; 
    min-height:32%;
}
	
.corpo_cont{   /*edicao da caixa das telas pré login*/ 
	padding: 1.5em;
	margin-top:13px;
	margin-left:10px;
	margin-right:2.5%;
    margin-bottom: 13px;
    width:94.3%; 
    height:auto; /*para que a barra role*/
    min-height:80%; /*para que a barra role*/
	box-shadow: 0px 0px 2px #A2A0D8;
	border: 2px #8FBC8F solid; /*borda da caixa do texto*/
    background: #E0D9D9;/*Fundo Cinza*/
}
.corpo_cont h2{
	color: #007B36;
	font-size: 1.5em;
}
.corpo_cont div p{
    width: 100%;
}
/*CADASTRO*/
.corpo_cad{   /*edicao da caixa das telas pré login*/ 
	padding: 1.5em;
	margin-top:13px;
	margin-left:10px;
	margin-right:2.5%;
    margin-bottom: 13px;
    width:94.3%; 
    height:auto; /*para que a barra role*/
    min-height:80%; /*para que a barra role*/
	box-shadow: 0px 0px 2px #A2A0D8;
	border: 2px #8FBC8F solid; /*borda da caixa do texto*/
    background: #E0D9D9;/*Fundo Cinza*/
}
.corpo_cad h2{
	color: #007B36;
	font-size: 1.5em;
}
.corpo_cad div p{
    width: 100%;
}



 /*########*/
/*Contatos*/
.contato{
	display: inline-block;
}
.p{
	color:black;
}
.contato_info{
    display: inline-block;
	width: 100%;
}
.contato_info {
	text-transform: uppercase;
}

.company_address {
	display: relative;
	margin-left: 1%;
    margin-right: 10%;
	width: 32.3333%;
    vertical-align: top;
    float: left;
}
 /*#######*/
/* rodapé*/ 
.Rodape{    /*modificado - copiar tudo*/
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-weight:bold;
	border-top: 2px #006400 solid; 
	background:#007b36; /*cor verde para fundo*/
	margin: 0px auto 0px auto;
    padding: 0px 0 0 0;
	height: 10.8%;
    position: absolute;
    width: 100%;
	}
	/*Parte de Copyright */	
	.copyright{    
		float:left;
		font-size: 0.8725em;
            margin-top:1.8%;
            margin-left:1.4%;
		color: #000;
		
	}
	.copyright p a{
		color: #FFF;
	}
	.copyright p a:hover{
		color: #BBB;
		-webkit-transition: 0.9s;
		-moz-transition: 0.9s;
		-o-transition: 0.9s;
	}
	/* links de acesso aos outros aplicativos */
	.iconesRodape{
		float: right;
		margin-top:1.2%;
		line-height: 0.4em;
	}
    .icon_rodape{ /*modificado - novo*/
        width: 35px;
    }
 /*###        ~~~~~        ~~~~~        ###*/
/*parte de LOGIN/CONTATO na tela principal*/

.caixa-parceiro{
	height:200px;
	box-shadow: 0px 0px 2px #A2A0D8;
	margin: 10px;
	margin-top: -8px;
	border: 3px #006400 solid; 
	background:#E0D9D9;
}
.caixa-parceiro h2{
	text-align: center;
	margin-top: 20px;
	font-size: 1.6em;
	color:#7CCD7C;
}
.form-login div{
	padding:0.5em 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
}
.company_address p{
	padding:2px 0;
	font-size: 0.8725em;
	color: black;
	line-height: 1.8em;
}
.company_address p span{
	color: blue;
	cursor:pointer;
}
.company_address p span:hover{
	color: darkblue;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}

.form-login label{
    margin-left: 20px;
}
.form-login input[type="submit"]{
    margin-left: 20px;
}
.inf-contatos h3{
    margin-left: 20px;
}
.form-login input[type="text"],.form-login textarea{     /*caixa de usuario e senha/login*/   
 	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-size: 0.8725em;
	color: black;
	padding: 8px;
	display: block;
	width: 80%;
    height: 1em;
	background: #FFFFFF;
 	border: 1px #8FBC8F solid; 
	outline: none;
	-webkit-appearance: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
    margin-left: 20px;
}
.form-login textarea{
	resize:none;
	height:176px;
}
.form-login input[type="text"]:focus,.contact-form textarea:focus{
	color:black;
	-webkit-transition:0.9s;
	-o-transition:0.9s;
	-moz-transition:0.9s;
	transition:0.9s;
	border: 2px #8FBC8F solid; 
	box-shadow: 0px 0px 2px #A2A0D8;
	-webkit-box-shadow: 0px 0px 2px #A2A0D8;
	-moz-box-shadow: 0px 0px 2px #A2A0D8;
	-o-box-shadow: 0px 0px 2px #A2A0D8;
}

.corpo{
	width: 100%;
}

.astvermelho  /*ESTRELINHA VERMELHA QUE APARECE EM ALGUMAS TELAS/FORMULÁRIOS*/
 {
	color: #FF0000;
	font-size: x-medium;
}

.login{
	box-shadow: inset 0px 0px 1px red;
	border-radius: 20px;
	height: 100px;
	width: 30%;
}

.referencia{
	font-size:14px;
	text-align:right;
}
.ref_imagem{
	font-size:14px;
}

.texto-informacao{
    text-align: justify;    
}

h2{    
    text-transform: uppercase; 
}

.map-google{
    display: relative; 
    border: 0px;
    width: 26em;
    height: 16em;
    overflow: auto;
}

.inf-contatos{
    display: relative;
    width: 50%;
    float: right;
    height: auto;
    overflow:hidden;
    margin-top: -0.9%;
    border-left: 2px #8FBC8F solid;
} 
.botao-duv{
    position: relative;
    width: 3.0%;
    float: right;
    overflow: hidden;
    margin-top: -1.8%;
}
.botao-duv:hover{
-ms-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
transition-duration: 0.5s;
}
.botao-duv:active {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);   
    transform: rotate(-90deg);
}
.perguntas{   
	padding: 4px;
	margin-top:2px;
    width: 98.3%;
    height: 2em;
    position: relative;
    display: inline-block;
	margin-left:5px;
	margin-right:2.5%;
    box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#8FBC8F)) !important;
    background-color: darkseagreen;
	border: 2px #8FBC8F solid; /*borda da caixa do texto*/
    cursor:pointer;
}
.perguntas:hover{
	transition-duration: 0.2s;
	box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#8FBC8F), to(#fff)) !important;
}
.respostas{
    padding-top: 1.5%;
    padding-bottom:1.5%;
	margin-left:2%;
	margin-right:2%;
    text-align: justify;
}

.img_sobre{ 
   padding-top: 5%;
   margin: auto;
   width: 52%;
}
.img_manu_tec{
   padding-top: 4%;
   margin: auto;
   width: 80%;
}
.img-parceiros{
            width: 150px;
            padding-left: 2%;
        }
.img-parceiro_lades{
            width: 220px;
			height:140px;
            padding-left: 2%;
        }
.form-login h3{
            margin-top: 3%;
            margin-bottom: 3%;
        }
.informacoes{
    text-align: justify;
}
@media only screen and (max-width: 980px) {
  .corpo_cont{   /*edicao da parte de contatos-caixa*/ /*modificado*/
		padding: 5%;
		margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
		width:87%; 
		height:auto; 
		min-height:72.1%;
		box-shadow: 0px 0px 2px #A2A0D8;
		border: 2px #8FBC8F solid; /*borda da caixa do texto*/
    }
   .botao-duv{
        display: none;
    }

    .img_sobre{
        padding-top: 7%;
        margin: auto;
        width: 100%;
    }
    .img_manu_tec{
		padding-top: 8%;
		margin: 1% auto;
		width:100%;
    }
    .perguntas{
		font-size: 2.5em;   
        padding: 6px;
        margin-top:4px;
        width: 98.3%;
        height: 2.5em;
        position: relative;
        display: inline-block;
        margin-left:5px;
        margin-right:2.5%;
    }
    .respostas{
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: justify;
    }
    .respostas span{
        font-size: 22px; 
    }
    .pagina_inicial{ /*modificado*/
        padding: 1%;
        margin: auto;
        width:98%; 
        height:auto; 
        min-height:100%;
    }
    .corpo_noticia1{       /*QUADRO DE NOTICIAS GRANDE*/  
		margin-left: 2%;
        margin-bottom: 2%;
        margin-top: 2%;
		width: 93.6%;
		background: #E0D9D9;/*Fundo Cinza*/
		border: 2px #8FBC8F solid; /* borda da caixa do texto*/ 
		height:auto; 
		min-height:20%;
    }
    .corpo_noticia2{       //*QUADRO DE NOTICIAS PEQUENO*/ 
        position: relative;
		background: #E0D9D9;/*Fundo Cinza*/
		border: 2px #8FBC8F solid;
        margin-left: 2%;
		width: 95.4%;
		height:auto; 
		min-height:32%;
        margin-bottom: -2%;
    }
    .Rodape{    /*modificado*/
		height: auto;
		min-height: 15%;
		position: absolute;
		width: 100%;
	}
        /*Parte de Copyright */	
        .copyright{    
            font-size: 2.3em;
            margin-top:3%;
            color: #000;
            text-align: center;

        }
        .copyright p a{
            color: #FFF;
        }
        .copyright p a:hover{
            color: #BBB;
            -webkit-transition: 0.9s;
            -moz-transition: 0.9s;
            -o-transition: 0.9s;
        }
        /* links de acesso aos outros aplicativos */
        .iconesRodape{
            margin-right:24%;
            margin-left: auto;
            line-height: 0.2em;            
        }
        .icon_rodape{ /*modificado - novo*/
            width: 80px;
            position: relative;
            padding-top: 8px;
            padding-right: 120px;
        }

        .map-google{
            display: relative; 
            width:98%;
            height: 15em;
            overflow: auto;
        }
        .form-login{
            font-size:2em;
        
        }

        .inf-contatos{
            display: relative;
            width: 100%;
            float: left;
            border: transparent;
            height: auto;
            overflow:hidden;
        }
        .company_address {
            display: relative;
            margin-left: 1%;
            width: 100%;
            vertical-align: top;
            float: left;
        }
        .company_address ul li p{
            margin-bottom: 0.5%;
            word-wrap: break-word;
            font-size: 0.81em;
        }
        .form-login h3{
            font-size: 1.5em;
            margin-bottom: 2%;
            margin-top: 3%;
        }
        .form-login input[type="text"],.form-login textarea{     /*caixa de usuario e senha/login*/   
            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
            font-size: 1.2em;
            color: black;
            padding: 0.3em;
            display: block;
            width: auto;
            min-width: 94.6%;
            height: 35px;
            background: #FFFFFF;
            border: 2px #8FBC8F solid; 
            outline: none;
            -webkit-appearance: none;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -o-border-radius: 3px;
            margin-left: 0px;
        }
        .form-login textarea{
            resize:none;
            height: 210px;
            font-size: 0.8em;
            text-align: justify;
        }
        .form-login label{
            margin-left: 0px;
        }
        .form-login input[type="submit"]{
            margin-left: 0px;
        }
        .inf-contatos h3{
            margin-left: 0px;
        }       
        .img-parceiros{
            width: 30em;
            padding-bottom: 10%;
        }
		.img-parceiro_lades{
            width:30em;
            height: 10em;
            padding-bottom: 10%;
        }
}